{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/review.css' %}">
{% endblock %}
<!-- Page title here -->
{% block extra_title %} | Reviews{% endblock %}

{% block content %}

    <!-- Image cover -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pl-0 pr-0">
                <img class="d-block w-100" alt="Customer Reviews" src="{{ MEDIA_URL }}rating_reviews.jpg">
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="text-center text-uppercase mb-4">Reviews</h2>
                <h5 class="text-muted text-center">
                    We love to hear what our customers have to say! That's a way of you to get to know our products and service and for us to improve.
                </h5>
                <hr class="mb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h6 class="text-muted text-uppercase">({{ reviews.count }}) comments</h6>
            </div>
        </div>
        <div class="col-12 card mb-4">
            <div class="card-body">
            {% if not reviews.all %}
                <p class="text-muted">No comments yet! <i class="far fa-frown"></i>...</p>
            {% else %}
            <!-- Customer Reviews -->
                {% for review in reviews %}
                <div class="col-12">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            {% if review.user.userprofile.avatar %}
                            <img class="review-pic d-block mx-auto my-auto" src="{{ MEDIA_URL }}{{ review.user.userprofile.avatar }}" alt="User avatar">
                            {% else %}
                            <img class="review-pic d-block mx-auto my-auto" src="{{ MEDIA_URL }}no_avatar_image.jpg" alt="User default avatar">
                            {% endif %}
                        </li>
                        <li class="list-inline-item">
                            <p class="font-weight-bold text-left mx-auto my-auto">
                                {{ review.name }}
                            </p>
                            <small class="text-muted text-left mx-auto my-auto">
                                {{ review.created_on }}
                            </small>
                            <p>
                            {% if review.rating == 1 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {%endif%}
                            {% if review.rating == 2 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {%endif%}
                            {% if review.rating == 3 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {%endif%}
                            {% if review.rating == 4 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            {%endif%}
                            {% if review.rating == 5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            {%endif%}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <p class="text-justify">
                        {{ review.comment }}
                    </p>
                    <hr>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="col-12 text-center">
            <a role="button" class="btn btn-info text-uppercase mb-5 mt-3" href="{% url 'write_review' %}">
                <span>Write my review</span>
                <span class="icon ml-2">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
        </div>
    </section>


{% endblock %}
