{% extends "base.html" %}
{% load static %}
<!-- Page title here -->
{% block extra_title %} | About Us{% endblock %}

{% block content %}

    <!-- Image cover -->
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 pl-0 pr-0">
                <img class="d-block w-100" alt="About Us" src="/media/about_us.jpg">
            </div>
        </div>
    </section>

    <section class="container mb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="text-center text-uppercase mb-4">About Us</h2>
                <h5 class="text-muted text-center">
                    "Wherever we go we take our traditions with us, and sharing them with the land that has given us plenty of opportunities is a win-win action".
                </h5>
                <hr class="mb-5">
                <p class="text-justify">
                    The goal of <strong>Your argentine Shop</strong> is to bring the very best in speciality food products from Argentina to Ireland. Although 
                    probably best known for its beef and wine, Argentina produces a huge variety of high quality food products very little of which reaches 
                    European markets. We have assembled a small selection of high quality products that are uniquely Argentine in character and that are guaranteed 
                    to attract the more curious among the Irish in addition to homesick Argentines.
                </p>
                <img class="img-fluid d-block pt-3 pb-5 mx-auto my-auto" alt="Our products" src="/media/products_pic.jpg">
                <p class="text-justify">
                    Each product we sell has been individually selected, because we do know they are high-quality ones that our customers will enjoy and that will 
                    bring them either memories from their land or a whole new flavour experience. We deliver <strong><em>yerba mate</em></strong>, 
                    <strong><em>dulce de leche</em></strong> and <strong><em>alfajores</em></strong> to everywhere in the Republic of Ireland and UK as well, 
                    trying to provide the best customer service possible.
                </p>
            </div>
        </div>
    </section>

{% endblock %}