{% extends "base.html" %}
{% load static %}
<!-- Page title here -->
{% block extra_title %} | Refund Policy{% endblock %}

{% block content %}

<section class="container mb-5">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center text-uppercase mb-4">Refund Policy</h2>
            <hr>
            <p class="text-justify">
                We have a 30-day return policy, which means you have 30 days after receiving your item to request a return only if the items are faulty, 
                broken, or an item is missing.
            </p>
            <p class="text-justify">
                To be eligible for a return, you'll need the receipt or proof of purchase and, if possible, you must show us how the items arrived.
            </p>
            <p class="text-justify">
                To start a return, you can contact us at <strong><em>yourargentineshopinfo@gmail.com.</em></strong>. If your return is accepted, we’ll send you 
                a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first requesting a return 
                will not be accepted.
            </p>
            <p class="text-justify">
                If an item is faulty or damaged, we will replace the item free of charge. Please email photo(s) and/or video(s) that show the problem to 
                <strong><em>yourargentineshopinfo@gmail.com.</em></strong> or try to explain by writing.
            </p>
            <p class="text-justify">
                We would only accept returns of unwanted items if you let us know before they've been shipped, as we can't accept food returns for security 
                and hygiene reasons.
            </p>
            <!-- Refund Policy -->
            <h5 class="text-muted text-uppercase pt-2 pb-2">Damages and issues</h5>
            <p class="text-justify">
                Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, 
                so that we can evaluate the issue and make it right.
            </p>
            <h5 class="text-muted text-uppercase pt-2 pb-2">Exceptions / non-returnable items</h5>
            <p class="text-justify">
                Certain types of items cannot be returned, like boxes or packages that have been opened and were sealed (like dulce de leche), or packages of food 
                in which we can't make sure whether they've been opened (like yerba mate or certain type of alfajores) unless there's something wrong with them, 
                like some kind of contamination.
            </p>
            <h5 class="text-muted text-uppercase pt-2 pb-2">Exchanges</h5>
            <p class="text-justify">
                The fastest way to ensure you get what you want is to return the item you have, and once the return is accepted, make a separate purchase for the new item.
            </p>
            <h5 class="text-muted text-uppercase pt-2 pb-2">Refunds</h5>
            <p class="text-justify">
                We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. If approved, you’ll be automatically 
                refunded on your original payment method. Please remember it can take some time for your bank or credit card company to process and post the refund too.
            </p>
        </div>
    </div>
</section>

{% endblock %}