.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

#user-profile-cover {
    background-image: url("/media/profile_background.jpg");
    background-size: cover;
    height: 30vh;
    min-height: 400px;
  }

.background-test {
    background-color: burlywood;
}

.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.user-bio-card {
    background-color: #ececec;
    min-height: 200px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.094rem;
}

.user-bio-card p {
    font-size: 20px;
}