body,
html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Header and Footer */

#top-bar-info {
    background-color: #317ece;
    color: #ffffff;
    padding-top: 0.625rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.094rem;
    font-size: 0.938rem;
}

#top-bar-info li a i,
#f-copyright li a i {
    color: #ffffff;
    font-size: 1.25rem;
}

#top-bar-info i {
    font-size: 1.25rem;
    padding-right: 0.313rem;
    color: #ffc107;
}

#topnav p {
    font-family: 'Oswald', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-navy-blue {
    color: #183153 !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

#website-logo {
    max-height: 5rem;
}

#website-logo2 {
    max-width: 15.625rem;
    margin: auto;
}

.nav-style,
.footer-color-2 {
    background-color: #001c40;
}

.navbar-dark .navbar-nav .nav-link,
nav li a i,
nav li a {
    color: #fafafa;
    font-weight: 500;
    letter-spacing: 0.063rem;
}

nav li a:hover,
nav li a:active,
nav li a:focus,
nav li a i:hover,
nav li a i:focus,
#top-bar-info li a i:hover,
#top-bar-info li a i:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus,
#f-info a:hover,
#f-info a:active,
#f-info a:focus,
#f-copyright li a i:hover,
#f-copyright li a i:active,
#f-copyright li a i:focus,
#accordion-info a:hover,
#accordion-info a:active,
#accordion-info a:hover {
    color: #ffc107;
}

.footer-color-1,
#accordion-info,
footer .accordion .card {
    background-color: #183153;
    color: #ffffff;
}

#f-info h4,
#accordion-info h4 {
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    text-align: center;
    color: #fafafa;
    padding: 1.25rem 0.938rem;
}

#f-info a,
#accordion-info a {
    color: #ffffff;
    text-decoration: none;
}

#f-info a p,
#accordion-info p,
#accordion-info a p {
    padding-left: 0.625rem;
}

#f-info p {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.313rem;
}

#f-info i,
#accordion-info li i,
#collapseThree i {
    padding-right: 0.313rem;
    color: #ffc107;
}

#f-copyright {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    padding-top: 0.625rem;
    letter-spacing: 0.063rem;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Scroll button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Home page  */

.carousel-indicators li {
    background-color: #28a3bf;
}

.carousel-caption {
    bottom: 30%;
    left: 0%;
    right: 20%;
}

.carousel-caption h2 {
    color: #317ece;
    font-size: 3.75rem;
}

.carousel-caption h6 {
    color: #001c40;
    font-size: 1.563rem;
}

.carousel-caption a {
    font-family: 'Oswald', sans-serif;
    margin-top: 1.25rem;
}

#box-info {
    background-color: #cae1ec;
    min-height: 5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    padding-top: 1.25rem;
    color: #001c40;
    font-family: 'Oswald', sans-serif;
}

#box-shopping-cart {
    background-color: #ececec;
    min-height: 5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    padding-top: 1.25rem;
    font-family: 'Oswald', sans-serif;
}

#box-info li i {
    font-size: 3.75rem;
}

#no-results img {
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 30px 15px;
  }

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
}

/* Adjusts the size of elements within the footer when collapsed on mobile devices */

@media (max-width: 575.98px) {
    #accordion-info h4 {
        font-size: 1.125rem;
        padding: 0.313rem;
    }

    #accordion-info p{
        font-size: 0.875rem;
    }
}

/* Adjusts the size of elements within the carousel when collapsed on mobile devices */

@media (max-width: 1500px) {
    .carousel-caption {
        bottom: 25%;
    }

    .carousel-caption h2 {
        font-size: 2.5rem;
    }

    .carousel-caption h6 {
        font-size: 1.25rem;
    }
}

@media (max-width: 1200px) {
    .carousel-caption {
        bottom: 20%;
    }

    .carousel-caption h2 {
        font-size: 1.875rem;
    }

    .carousel-caption h6 {
        font-size: 1.125rem;
    }
}

@media (max-width: 991.98px) {
    .carousel-caption {
        bottom: 15%;
    }

    .carousel-caption h2 {
        font-size: 1.563rem;
    }

    .carousel-caption h6 {
        font-size: 0.875rem;
    }

    .carousel-caption a {
        margin-top: 0.625rem;
        font-size: 0.75rem;
    }
}

@media (max-width: 767.98px) {
    .carousel-caption {
        bottom: 10%;
    }

    .carousel-caption h2 {
        font-size: 1.25rem;
    }

    .carousel-caption h6 {
        font-size: 0.688rem;
    }

    .carousel-caption a {
        margin-top: 0.5rem;
        font-size: 0.625rem;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        bottom: 5%;
    }

    .carousel-caption h2 {
        font-size: 14px;
    }

    .carousel-caption h6 {
        font-size: 8px;
    }

    .carousel-caption a {
        margin-top: 2px;
        font-size: 8px;
        padding: 4px 5px;
    }
}

@media (max-width: 400px) {
    .carousel-caption {
        bottom: 1%;
    }

    .carousel-caption h2 {
        font-size: 0.75rem;
    }

    .carousel-caption h6 {
        font-size: 0.5rem;
    }

    .carousel-caption a {
        margin-top: 0.125rem;
        font-size: 0.5rem;
        padding: 0.25rem 0.313rem;
    }
}