<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link uppercase mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link uppercase  mr-5" href="#" id="info-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Info
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="info-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Contact</a>
                <a href="" class="dropdown-item">Shipping</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link uppercase mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=dulce_de_leche" class="dropdown-item">Dulce de Leche</a>
                <a href="{% url 'products' %}?category=yerba_mate" class="dropdown-item">Yerba Mate</a>
                <a href="{% url 'products' %}?category=alfajores" class="dropdown-item">Alfajores</a>
                <a href="{% url 'products' %}?category=cookies" class="dropdown-item">Cookies</a>
                <a href="{% url 'products' %}?category=candies" class="dropdown-item">Candies</a>
                <a href="{% url 'products' %}?category=empanadas" class="dropdown-item">Empanadas</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=misc" class="dropdown-item">Misc</a>
                <a href="{% url 'products' %}?category=combos" class="dropdown-item">Combos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link uppercase mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>