<div class="accordion d-block d-lg-none" id="accordion-info">
    <div class="card">
        <div class="card-header" id="h-info">
            <div class="col-12 my-auto py-lg-0">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h4 class="mb-0">Information</h4>
                    </li>
                    <li class="list-inline-item float-right">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="h-info" data-parent="#accordion-info">
            <div class="card-body">
                <a target="_blank" href="#"><p>Privacy Policy</p></a>
                <a target="_blank" href="#"><p>Refund Policy</p></a>
                <a target="_blank" href="{% url 'terms_of_service' %}"><p>Terms of Service</p></a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="h-about-us">
            <div class="col-12 my-auto py-lg-0">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h4 class="mb-0">About Us</h4>
                    </li>
                    <li class="list-inline-item float-right">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="h-about-us" data-parent="#accordion-info">
            <div class="card-body">
                <p class="text-justify">
                    Our goal is to make you feel that despite being away from our country we can continue enjoying the exquisite products that we miss so much.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="h-contact-us">
            <div class="col-12 my-auto py-lg-0">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h4 class="mb-0">Contact Us</h4>
                    </li>
                    <li class="list-inline-item float-right">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="h-contact-us" data-parent="#accordion-info">
        <div class="card-body">
            <p><i class="fas fa-map-marker-alt"></i><strong>Address:</strong> Dublin, Ireland</p>
            <p><i class="fas fa-phone-alt"></i><strong>Phone:</strong> +353 (0) 89 9757275</p>
            <p><i class="fas fa-envelope"></i><strong>Email:</strong> yourargentineshop@gmail.com</p>
        </div>
    </div>
</div>