{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <!-- Blog Post Section -->
    <section class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="text-center text-uppercase mb-4">{{ post.title }}</h2>
                <hr>
                <p class="font-italic"><i class="fas fa-calendar-plus mr-2"></i>{{ post.updated_on }}</p>
                <img  class="img-fluid d-block mx-auto my-auto" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="text-justify mt-4 mb-4">{{ post.content |safe }}</p>
                <p class="font-italic text-secondary mb-2 text-center"><i class="fas fa-user mr-2"></i><strong>Created by:</strong> {{ post.author }}</p>
            </div>
            <div class="col-12 mb-5 mt-4 text-center">             
                <a class="btn btn-outline-black rounded-0 mb-3 mt-3" href="{% url 'blog' %}">
                    <span class="icon mr-2">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Go back to blog</span>
                </a>
                <a class="btn btn-black rounded-0 mb-3 mt-3" href="{% url 'home' %}">
                    <span class="text-uppercase">Go Home Page</span>
                    <span class="icon ml-2">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
                {% if request.user.is_superuser %}                   
                <a role="button" class="btn btn-info text-uppercase mb-3 mt-3" href="{% url 'edit_post' post.id %}">
                    <span class="icon mr-2">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>Edit post</span>
                </a> 
                <button class="btn btn-danger text-uppercase mb-3 mt-3" data-toggle="modal" data-target="#delete_this_post">
                    <span>Delete post</span>
                    <span class="icon ml-2">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </button>
                {% endif %}                   
            </div>
        </div>
    </section>

    <!-- Comment Section -->
    <section class="container">
        <div class="row">
            <div class="col-12 ">
                <h4>({{ comments.count }}) comments</h4>
            </div>
            <div class="col-12 card">
                <div class="card-body">
                    {% if not post.comments.all %}
                        <p class="text-muted">No comments yet! <i class="far fa-frown"></i>...</p>
                    {% else %}
                    <!-- comments -->
                        {% for comment in comments %}
                        <div class="col-12">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    {% if comment.user.userprofile.avatar %}
                                    <img class="comment-pic d-block mx-auto my-auto" src="{{ MEDIA_URL }}{{ comment.user.userprofile.avatar }}">
                                    {% else %}
                                    <img class="comment-pic d-block mx-auto my-auto" src="{{ MEDIA_URL }}no_avatar_image.jpg">
                                    {% endif %}
                                </li>
                                <li class="list-inline-item">
                                    <p class="font-weight-bold text-left mx-auto my-auto">
                                        {{ comment.name }}
                                    </p>
                                    <small class="text-muted text-left mx-auto my-auto">
                                        {{ comment.created_on }}
                                    </small>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <p class="text-justify">
                                {{ comment.body }}
                            </p>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 card mb-4 mt-3 ">
                <div class="card-body">
                    {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                    </div>
                    {% else %}
                    <h3>Leave a comment</h3>
                    <form method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        {% if request.user.is_authenticated %}
                        <button type="submit" class="btn btn-black rounded-0 mb-3 mt-3 text-uppercase">Submit</button>
                        {% else %}
                        <button type="submit" class="btn btn-black rounded-0 mb-3 mt-3 text-uppercase" disabled>Submit</button>
                        <p class="text-danger">Sorry, but you must be <strong>logged in</strong> to comment this post.</p>
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Delete Button Modal -->

    <div class="modal fade" id="delete_this_post" role="dialog" aria-describedby="delete_this_post" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="far fa-question-circle"></i> Delete this blog post?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete this post? This action cannot be
                        undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <a href="{% url 'delete_post' post.id %}">
                        <button type="button" class="btn btn-dark">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}