{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-center text-uppercase mb-4">{% trans "Change Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="col-12 col-lg-12 mb-5 mt-4 text-center">
            <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">
                <span class="icon mr-2">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Login</span>
            </a>
            <button type="submit" name="action">
                <span class="text-uppercase">{% trans "Change Password" %}</span> 
                <span class="icon ml-2">
                    <i class="fas fa-check"></i>
                </span> 
            </button>
        </div>
    </form>
{% endblock %}